streamlit==1.51.0
pandas==2.3.3
numpy==2.3.4
matplotlib==3.10.7
scikit-learn==1.5.2
streamlit-webrtc==0.47.1
SpeechRecognition==3.10.4
pydub==0.25.1
webrtcvad==2.0.10
streamlit-webrtc==0.47.1
SpeechRecognition==3.10.4
pydub==0.25.1
webrtcvad==2.0.10
av==12.3.0
